[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    env,
    venv,
    *.egg-info,
    dumps

per-file-ignores =
    # imported but unused
    *__init__.py*: F401
    mks_backend/models_meta.py: F401

    # may be undefined (they are not, trust me)
    mks_backend/scripts/fill_db/fill_db.py: F405, F403
    mks_backend/MIV/parsing/constructions/constructions.py: F405, F403

max-line-length = 121

inline-quotes = '
multiline-quotes = """
